<%- include('./partials/header') %>
<body class="gallery-body">
  <div class="container">
    <h1 class="mt-5 white user-profile">Character Gallery</h1>
    <h3 class="my-4 white poiret">Published Characters:</h3>

    <% characters.forEach(function(character) { %>
    <div class="card mb-4">
      <div class="card-body bg-secondary">
        <h5 class="card-title poiret"><strong>Name:</strong> <%= character.name %></h5>
        <p class="card-text"><strong>Race:</strong> <%= character.race %></p>
        <p class="card-text"><strong>Background:</strong> <%= character.background %></p>
        <p class="card-text"><strong>Class:</strong> <%= character.dndClass %></p>
        <p class="card-text"><strong>Equipment:</strong> <%= character.equipment.join(', ') %></p>
        <a href="/characters/gallery/<%= character._id %>/story" class="btn btn-primary">View An Exclusive One Time Character Story</a>
      </div>

      <!-- Comment form for each character -->
      <form class="card-footer bg-secondary" method="POST" action="/characters/<%= character._id %>/comments">
        <div class="form-group">
          <label for="comment" class="poiret">Comment:</label>
          <textarea
            class="form-control"
            id="comment"
            name="comment"
            rows="4"
            required
          ></textarea>
        </div>
        <button id="submit-button" type="submit" class="btn btn-success">Submit Comment</button>
      </form>

      <!-- Display existing comments -->
      
      <div class="card-footer bg-secondary">
        <h3 class="poiret">Comments:</h3>
        <ul class="list-group">
          <% character.comments.forEach(function(comment) { %>
            <div>
            <li class="list-group-item">
              <%= comment.text %>
            </div>
            <% if (user && comment.author.toString() === user._id.toString()) { %>
              <form method="POST" action="/characters/<%= character._id %>/comments/<%= comment._id %>?_method=DELETE" style="display: inline;">
                <button id="delete-comment" type="submit" class="btn btn-danger">Delete Comment</button>
              </form>
            <% } %>
            
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% }); %>
  </div>
</body>
</html>
