<%- include('./partials/header') %>
<body class="gallery-body">
  <div class="container">
    <h1 class="mt-5 white user-profile">Character Gallery</h1>
    <h3 class="my-4 white poiret">Published Characters:</h3>

    <% characters.forEach(function(character) { %>
    <div class="card mb-4">
      <div class="card-body bg-dark">
        <h5 class="card-title poiret" style="color: white;"><strong>Name:</strong> <%= character.name %></h5>
        <p class="card-text poiret-sub"><strong>Race:</strong> <%= character.race %></p>
        <p class="card-text poiret-sub"><strong>Background:</strong> <%= character.background %></p>
        <p class="card-text poiret-sub"><strong>Class:</strong> <%= character.dndClass %></p>
        <p class="card-text poiret-sub"><strong>Equipment:</strong> <%= character.equipment.join(', ') %></p>
        <a href="/characters/gallery/<%= character._id %>/story" class="btn btn-outline-primary">View An Exclusive One Time Character Story</a>
      </div>

      <!-- Comment form for each character -->
      <% if (user) { %>
        <form class="card-footer bg-dark" method="POST" action="/characters/<%= character._id %>/comments">
            <div class="form-group">
                <label for="comment" class="poiret text-white">Comment:</label>
                <textarea
                    class="form-control"
                    id="comment"
                    name="comment"
                    rows="4"
                    required
                ></textarea>
            </div>
            <button id="submit-button" type="submit" class="btn btn-outline-success">Submit Comment</button>
        </form>
        <% } %>
        
    

      <!-- Display existing comments -->
      
      <div class="card-footer bg-dark">
        <h3 class="poiret text-white">Comments:</h3>
        <ul class="list-group">
          <% character.comments.forEach(function(comment) { %>
            <div>
            <li class="list-group-item poiret-sub">
              <%= comment.text %>
            </div>
            <% if (user && comment.author.toString() === user._id.toString()) { %>
              <form method="POST" action="/characters/<%= character._id %>/comments/<%= comment._id %>?_method=DELETE" style="display: inline;">
                <button id="delete-comment" type="submit" class="btn btn-outline-danger">Delete Comment</button>
              </form>
            <% } %>
            
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% }); %>
  </div>
</body>
</html>
