<%- include('./partials/header') %>
<body class="profile-body">
  <div>
  <div class="container">
    <h1 class="mt-5 white user-profile">User Profile</h1>
    <h2 class="mb-4 white poiret">Welcome, <%= user.name %>!</h2>
    <h3 class="white poiret">Your Characters:</h3>

    <div class="row">
      <% characters.forEach(function(character) { %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body bg-secondary">
            <h5 class="card-title poiret"><strong>Name:</strong> <%= character.name %></h5>
            <p class="card-text"><strong>Race:</strong> <%= character.race %></p>
            <p class="card-text"><strong>Background:</strong> <%= character.background %></p>
            <p class="card-text"><strong>Class:</strong> <%= character.dndClass %></p>
            <p class="card-text"><strong>Equipment:</strong> <%= character.equipment.join(', ') %></p>

            <a href="/characters/update/<%= character._id %>" class="btn btn-primary mr-2">Update</a>
            <form method="POST" action="/characters/<%= character._id %>/publish">
              <button type="submit" class="btn btn-success mr-2">Publish</button>
            </form>
            <form method="POST" action="/characters/<%= character._id %>?_method=DELETE">
              <button type="submit" class="btn btn-danger">Delete !</button>
            </form>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  </div>
</body>
</html>
